<%- include('parts/html-head') %>
<%- include('parts/navbar') %>
    <div class="container">
        <h4>Hello <%= name %></h4>
    </div>
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>
